.auth_button {
    border-radius: 10px 10px 10px 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 5vh;
    width: 20vw;
    transition: 200ms;
    font: 1.25vw monospace;
}

.auth_button:hover {
    box-shadow:  0 0 10px 5px whitesmoke;
    transition: 200ms;
}

.auth_button:active {
    box-shadow: 0 0 10px 5px greenyellow;
    transition: 200ms;
}