#up, #content {
    display: flex;
}

#down {
    margin-top: 1%;
    diplay: flex;
}

#Y {
    text-align: center;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
}

#input_block {
    text-align: center;
    font-family: monospace;
    height: 360px;
    width: 650px;
    margin-top: 1%;
    left: 1.4vw;
    color: #ecec97;
    position: relative;
    background-color: #1b3370;
    box-shadow: 0 0 0.6vw 0.3vw black;
    border-radius: 20px 20px 20px 20px;
    transition: 200ms;
    z-index: 500;
}

#input_block:hover {
    box-shadow: 0 0 50px 10px blue;
    transition: 200ms;
}

label {
    font-size: 15px;
}

text {
    font-size: 20px;
}

#x_values, #r_values, #Y {
    margin-top: 2%;
}

#x_error, #y_error, #r_error {
    color: red;
    margin-top: 1%;
    font-size: 17px;
    height: 17px;
}

input[type=radio] {
    margin-left: 30px;
}

#x_input, #r_input, #y_input {
    margin-top: 3%;
    width: 650px;
}

#send_button_block {
    text-align: center;
}

#send_button {
    border-radius: 20px 20px 20px 20px;
    margin-top: 15px;
    width: 300px;
    height: 30px;
}

#send_button:hover {
    box-shadow: 0 0 10px 5px whitesmoke;
    transition: 200ms;
}

#send_button:active {
    box-shadow: 0 0 10px 5px greenyellow;
    transition: 200ms;
}

#picture {
    margin-top: 1%;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #a81111;
    margin-left: 13%;
    margin-right: auto;
}

#picture:hover {
    box-shadow: 0 0 50px 10px red;
    transition: 200ms;
}

#results {
    margin-top: 2%;
    text-align: center;
    align-items: center;
    margin-left: 1%;
    width: 98%;
    font: 17px monospace;
}

#the-only-table {
    width: 100%;
    min-width: 650px;
}

.log_out {
    min-width: 650px;
    font: 1.6vw monospace;
    min-font-size: 20px;
    color: whitesmoke;
    margin-top: 1%;
    margin-left: 1%;
    background-color: red;
    width: 98%;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
}

.log_out:hover {
    box-shadow: 0 0 10px 5px darkred;
    transition: 200ms;
}

.log_out:active {
    box-shadow: 0 0 10px 5px greenyellow;
    transition: 200ms;
}

.true {
    color: green;
}

.false {
    color: red;
}

.head {
    color: black;
}