.up {
    position: relative;
    height: 70vh;
}

.down {
    position: relative;
}

.input_block {
    display: inline-block;
    font: 1.6vw "Century Gothic";
    height: 58vh;
    width: 48vw;
    margin-top: 2vh;
    left: 1.4vw;
    color: #ecec97;
    position: relative;
    background-color: #1b3370;
    box-shadow: 0 0 0.6vw 0.3vw black;
    border-radius: 20px 20px 20px 20px;
    transition: 200ms;
    z-index: 500;
}

.input_block:hover {
    box-shadow: 0 0 50px 10px blue;
    transition: 200ms;
    transform: scale(1.05);
}

.picture {
    display: inline-block;
    left: 15vw;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    border: 5px solid #a81111;
    width: 350px;
    height: 350px;
}

.picture:hover {
    box-shadow: 0 0 50px 10px red;
    transition: 200ms;
}

.result_table {
    display: table;
    width: 98%;
    margin-left: 1vw;
    margin-top: 1vh;
}

.log_out {
    text-align: center;
    margin-left: 1vw;
    margin-top: 1vh;
    background-color: red;
    width: 98%;
    border-radius: 20px 20px 20px 20px;
}

.clean_button {
    display: inline-block;
    margin-top: 1vh;
    width: 10vw;
    height: 5vh;
    border-radius: 20px 20px 20px 20px;
    margin-left: 43.6vw;
}

.log_out_button {
    border-radius: 20px 20px 20px 20px;
    font: 2vw monospace;
    text-decoration: none;
    color: whitesmoke;
    background-color: red;
    border-color: red;
    z-index: 500;
    transition: 200ms;
}

.log_out:hover {
    box-shadow: 0 0 10px 5px darkred;
    transition: 200ms;
}

.log_out:active {
    box-shadow: 0 0 10px 5px greenyellow;
    transition: 200ms;
}