.X_input, .Y_input, .R_input {
    padding: 1vh;
    height: 13.5vh;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-top: 3vh;
    margin-left: -4vw;
}

label {
    font-size: 1.2vw;
    margin-left: 1.2vw;
}

.X_values, .Y_values, .R_values {
    width: 100%;
}

.text {
    font: 1.4vw monospace;
}

.x_error, .y_error, .r_error {
    margin-top: 1vh;
    font: 1.4vw monospace;
    color: red;
}