.clean_button {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    font: 1vw monospace;
    transition: 200ms;
}

.clean_button:hover {
    box-shadow: 0 0 5px 3px red;
    transition: 200ms;
}

.clean_button:active {
    box-shadow: 0 0 5px 3px greenyellow;
    transition: 200ms;
}